
<form [formGroup]="myForm" (ngSubmit)="login(myForm)">
  <div class="form-group row">
    <h1>Login</h1>
    <label>
      Email:
      <input formControlName="email" class="form-control" placeholder="Your email">
    </label>
    <div *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)">
      Please provide a email.
    </div>
  </div>

  <div class="form-group row">
    <label>
      Password:
      <input formControlName="password" class="form-control" placeholder="Your password">
    </label>
    <div *ngIf="myForm.get('password')?.invalid && (myForm.get('password')?.dirty || myForm.get('password')?.touched)">
      Please provide a password.
    </div>
  </div><br>

  <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Login</button>
</form>