<p>index works!</p>
<h2>Particulars page</h2>
<div class="float-end">
  <a routerLink="/users/index" class="btn btn-primary" routerLinkActive="active">Back</a>
</div>
<a routerLink="/particulars/form" class="btn btn-primary" routerLinkActive="active">New</a>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Card</th>
      <th scope="col">Amount</th>
      <th scope="col">Sender</th>
      <th scope="col">Receiver</th>
      <th scope="col">Created At</th>
      <!-- <th scope="col">Description</th> -->
      <th colspan="3" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let particular of particulars">
      <td scope="row">{{particular.id}}</td>
      <td>{{particular.card_id}}</td>
      <td>{{particular.amount}}</td>
      <td>{{particular.sender_id }}</td>
      <td>{{particular.receiver_id}}</td>
      <td>{{particular.created_at}}</td>
      <!-- <td>{{user_information.description}}</td> -->
      <td><a routerLink="/users/index" class="btn btn-success" routerLinkActive="active">Edit</a></td>
      <td><a routerLink="/users/index" class="btn btn-info" routerLinkActive="active">Show</a></td>
      <td><a routerLink="/users/index" class="btn btn-danger" routerLinkActive="active">Destroy</a></td>
    </tr>
  </tbody>
</table>