<app-particular-form></app-particular-form>
<h2>Particulars Details</h2>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Card</th>
      <th scope="col">Amount</th>
      <th scope="col">Sender</th>
      <th scope="col">Receiver</th>
      <th scope="col">Created At</th>
      <!-- <th scope="col">Description</th> -->
      <th colspan="2" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let particular of particulars">
      <td scope="row">{{particular.id}}</td>
      <td>{{particular.card_id}}</td>
      <td>{{particular.amount}}</td>
      <td>{{particular.sender_id }}</td>
      <td>{{particular.receiver_id}}</td>
      <td>{{particular.created_at}}</td>
      <td><a routerLink="/users/index" class="btn btn-success" routerLinkActive="active">Show</a></td>
      <td><a routerLink="/users/index" class="btn btn-warning" routerLinkActive="active">Undo</a></td>
    </tr>
  </tbody>
</table>[]