<app-sign-in></app-sign-in>

<mat-card>
  <mat-card-header>
    <mat-card-title><h1>{{user_information.title}}</h1></mat-card-title>
    <mat-card-subtitle>{{user_information.first_name}}</mat-card-subtitle>
    <mat-card-subtitle>{{user_information.last_name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{user_information.content}}
  </mat-card-content>
</mat-card>

<table table-hover>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Class</th>
      <th scope="col">Heading</th>
      <th scope="col">Heading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colSpan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>